<!-- /views/partials/navbar.ejs -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">ThoughtScape</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <% if (session && session.user) { %>
                <li class="nav-item">
                    <a class="btn btn-primary mr-2" href="/posts/new">Create New Post</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-danger" href="/auth/sign-out">Sign Out</a>
                </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="btn btn-success mr-2" href="/auth/sign-in">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-info" href="/auth/sign-up">Sign Up</a>
                    </li>
                    <% } %>
        </ul>
    </div>
</nav>
<hr>